---
import { Image } from 'astro:assets';
import './hero-slide.css';

import unscaredLogoSvg from '../../../assets/unscared-logo.svg';
---

<div class='swiper-slide hero'>
  <div class='platform-info'>
    <div class='platform'>GTA V</div>
    <div class='multiplayer'>RageMP</div>
  </div>
  <div class='center'>
    <Image class='logo' src={unscaredLogoSvg} alt='Unscared Crown Logo' />
    <h1 class='title'>UNSCARED</h1>
    <div class='cta'>
      <h2 class='subtitle'>
        <span>Forge Your Legacy</span>
        <span class='separator'>⬤</span>
        <span>Dominate The Streets</span>
      </h2>
      <a href='#' class='button'>Discord</a>
    </div>
  </div>
  <div class='scroll-indicator'>
    <svg
      class='arrow'
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'>
      <path d='M12 5v14'></path>
      <path d='m19 12-7 7-7-7'></path>
    </svg>
  </div>
</div>
